.Category .CardDeck{ 
    width:auto;
    background-color: white;
    margin: 10px 10px;
    padding:20px;
    flex-wrap: wrap;
}

.Category  .CardDeck .Card{
    margin: 5px;
    background-color: #EAEDED;
    border: white;
}

.Category .CardDeck .CardImg{
    height: 200px;
    width: 167px;
}

.Category .CardDeck .CardImg:hover{
    opacity: 0.5;
    transition: 0.5s;

}

.Category  .CardDeck .Body{
    margin:0px;
    padding:0px;
}

.Category  .CardDeck .Body .Title{
    font-size: 15px;
    margin: 2px;
    font-weight:bold;
}

@media(max-width:750px){
    .Category .CardDeck{ 
        width:auto;
        background-color: white;
        margin: 10px 10px;
        padding:5px;
    }
    
    .Category .CardDeck img {
        height: 150px;
    }
    
    .Category .CardDeck .CardImg{
        height: 215px;
    }
}