.Address {
    width: 100%;
    height: auto;
    margin-top: 2%;
    background-color: white;
    padding: 5px;
    border-radius: 5px;
}

.Address .Container{
  margin: 0px;
}

.Address .Row{
    height: auto;
    background-color: #EAEDED;
    border-radius: 5px;
}

.Address .Col{
    font-family: 'Lato' sans-serif;
    padding:10px
}

  
  .Address form {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
  }
  
  .Address h1 {
      text-align: center;
      width: 100%;
      color: #111;
      font-size: 1.7em;
      font-weight: lighter;
      font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
        Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    }
    
  
  .Address label {
    font-size: 0.8em;
    margin-bottom: 0.25em;
    color: #222;
    font-weight: lighter;
  }
  
  .Address input {
    padding: 10px 10px;
    border-radius: 5px;
    outline: none;
    border: 1px solid #cfcfcf;
    height: 25px;
  }
  
  .Address input::placeholder {
    font-size: 0.8em;
    font-weight: lighter;
    color: #999;
  }
  
  
  .Address .zipCode {
    margin-left: 0%;
  }
  
  .Address .addressLine {
    margin-left: 0%;
  }

  .Address .city,
  .Address .country {
    margin-right: 1%;
  }
  
  .Address .state,
  .Address .label {
    margin-left: 1%;
  }

  .Address .city,
  .Address .state,
  .Address .country,
  .Address .addressLine,
  .Address .zipCode,
  .Address .label {
    display: flex;
    flex-direction: column;
    margin-bottom: 5px;
  }
  

  .Address .city,
  .Address .state,
  .Address .label,
  .Address .country{
    width: 210px;
    /* width: 49%; */
  }

  
  .Address .addressLine,
  .Address .zipCode  {
    width: 100%;
  }
  