.Profile {
    width: 100%;
    height: auto;
    margin-top: 2%;
    /* background-color: white; */
    background-color: rgb(255, 255, 255,0.4);
}

.Profile .Row{
    height: auto;
    margin:20px;
    padding: 20px;
}

.Profile .Col{
    font-family: 'Lato' sans-serif;
    padding:10px
}

.Profile button {
    background-color: #f98713;
    color: #fff;
    border: 2px solid #fff;
    margin-top: 0.4em;
    padding: 8px 0px;
    font-size: 1em;
    font-weight: lighter;
    letter-spacing: 1px;
    width: 100%;
  }
 
  .Profile button:hover {
    color: #f98713;
    background-color: #fff;
    border: 2px solid #f98713;
  }